<h1>Restaurants
  <%= link_to new_restaurant_path do %>
    <i class="fas fa-plus"></i>
  <% end %>
</h1>

<% @grouped_restaurants.each do |category, restaurants| %>
  <div class="row">
    <div class="restaurants_container">
      <h3 class='category'><%= category.capitalize %></h3>
      <% restaurants.each do |restaurant| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="restaurant_card">
            <div class="restaurant-card__title">
              <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
              <span><%= "#{restaurant.avg_rating}/5" %></span>
            </div>
            <p><%= restaurant.address %></p>
            <p><%= restaurant.phone_number %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
